body{
    background-color: #00C9A7;
    position: relative;
  
}

.page{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 350px;
    border-radius: 6px;
    background-color: rgb(28, 28, 54);
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#but{
    width: 100%;
    border-radius: 5px;
    background-color: #00C9A7;
    color: white;
    
}
input{
    width: 100%;
    border-radius: 5px;
    border: 7px white;
    


}
a{
    color: aquamarine;
    text-decoration: none;
}
.page:hover{
    transform: scale(1.01);
}
#but:hover{
    transform: scale(1.01);
}
input:hover{
    transform: scale(1.01);
}
@media(max-width: 800px) {
    .page {
      margin-top: 42%;
      margin-bottom: 42%;
    }

}